body,
html {
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.025em;
    color: #333;
    margin-bottom: 50px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

label.button {
    padding-bottom: 0;
}

.container {
    margin-top: 20px;
}

@media (max-width: 640px) {
    .floatingchat-container-wrap {
      display: none;
    }
  }